OL {
	margin-top: 12px;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3px 3px 3px 3px;
	border-width: medium;
	border-color: black;
	border-style: ridge;
}

LI {
	text-align: center;
	margin-left: 3em;
	margin-right: 3em;
	padding: 3px 3px 3px 3px;
	list-style: none;
}

h1 {
	text-align: center;
	border: dashed;
}
